$primary-color: #444;
$secondary-color: #eece1a;
$show-home-image: true;
$home-image: url(../img/background.jpg);
$bacground-opacity: 0.9;

//fonksiyon
@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;
      //yukardaki elemanın sonrasında class oluşturmadan direk olarak afterı çağırırsak da olur
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($primary-color, $bacground-opacity);
      }
    }
  }
}

//Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// Media query mixins
@mixin mediaSm {
  //small
  //media içerisine giren tüm cssler max 500px yada altı olacak
  @media screen and(max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  //Medium screen
  //media içerisine giren tüm cssler max 768 px yada altı olacak
  @media screen and(max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  //Large screen
  //media içerisine giren tüm cssler 769px ile 1170px arasında olacak
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  //media içerisine giren tüm cssler 1171px ve üstü olacak
  @media screen and(max-width: 1171px) {
    @content;
  }
}
